h1{
    color:blue;
}

h1:hover{
    color:green;
}

h1 + p:active{
    background: gray;
}

a:link{
    color:orange;
}

a:visited{
    color:lightgray;
}

img:hover{
    display: none;
    /* opacity: 0%; pour firefox */
}

