h1{
    text-align: center;
}
nav{
    width: fit-content;
    margin: auto;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 20px
}
div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}
article:nth-of-type(2){
    grid-column: span 2;
}